.infos-bar {
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: #fff;
    max-width: 600px;
    margin: 0 auto;
    padding: 18px 0;
    text-align: left;
    
    @media (max-width: 640px) {
        display: block;
        text-align: center;
        padding: 40px;
        
    }

    &__infos {
        @media (max-width: 640px) {
            margin-bottom: 20px;
            
        }
    }
}